/* Main Section Styling */
main {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}

form {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s ease-in-out;
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
}

input {
    width: 100%;
    height: 48px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
    border-bottom: 2px solid #bdc3c7;
    padding: 10px;
    margin-bottom: 16px;
    transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #3498db;
    transform: scale(1.05);
}

.error-message {
    color: #e74c3c;
}

.success-message {
    color: #2ecc71;
}

.display-message {
    text-align: center;
    margin: 16px 0;
    padding: 8px 16px;
    border-radius: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 300;
}

button {
    width: 100%;
    background: #3498db;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background: #2980b9;
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}

#logout-button {
    background-color: #34495e;
    color: white;
    padding: 14px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    width: 256px;
    margin-top: 16px;
    text-decoration: none;
}

#logout-button:hover {
    background: #2c3e50;
    transform: scale(1.025);
}

#logout-button:focus {
    outline: none;
}
