.search-bar-container {
    margin-bottom: 32px;
    width: 100%;
}

.search-wrapper {
    position: relative;
    width: 100%;
}

.search-wrapper input[type="text"] {
    width: 100%;
    padding: 12px 48px 12px 16px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #2c3e50;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.search-wrapper input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.search-wrapper button {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    padding: 6px 10px;
    border: none;
    background-color: #f9f9f9;
    color: #2c3e50;
    font-size: 16px;
    cursor: pointer;
}


.search-wrapper button:hover {
    background-color: #2980b9;
    border-radius: 32px;
    transition: background-color 0.3s ease;
}
