* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #2c3e50;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -1;
}

header {
    background-color: #2c3e50;
    text-align: center;
    color: #fff;
    padding: 12px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

header h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
    transition: transform 0.3s ease-in-out;
}

main {
    margin: auto;
    width: 100%;
    height: calc(100% - 96px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-height: 400px;
    max-width: 380px;
    width: 96%;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
}

input {
    width: 100%;
    height: 48px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
    border-bottom: 2px solid #bdc3c7;
    padding: 10px;
    margin-bottom: 16px;
    transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #3498db;
    transform: scale(1.05);
}

button {
    width: 100%;
    background: #3498db;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background: #2980b9;
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}

p {
    text-align: center;
    font-size: 14px;
    color: #7f8c8d;
    transition: color 0.3s ease-in-out;
    margin: 16px 0;
}

p a {
    color: #3498db;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

p a:hover {
    color: #2980b9;
    text-decoration: underline;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    margin-left: 64px;
}
