section {
    width: 100%;
    padding: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    font-size: 1.1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#title_field {
    border: 1px solid transparent;
    border-bottom: 2px solid #2980b9;
}

#content_field {
    border: 1px solid transparent;
    border-bottom: 2px solid #2980b9;
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

h2 {
    text-align: center;
    color: #34495e;
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: "Merriweather", serif;
    margin-bottom: 32px;
}

p {
    text-align: center;
    color: #34495e;
    font-size: 1.1rem;
    margin-bottom: 25px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

legend {
    font-size: 1.4rem;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 15px;
    text-align: center;
}

.file-upload-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    font-weight: bold;
    color: #34495e;
    font-size: 1.1rem;
    cursor: pointer;
    background: #ecf0f1;
    padding: 10px 15px;
    text-align: center;
    transition: background 0.3s ease;
    white-space: nowrap;
}

label:hover {
    background: #d0d7dd;
}

.file-upload-container {
    display: flex;
    align-items: center;
    border-bottom: #2980b9 2px solid;
    padding-bottom: 16px;
}

#fileName {
    font-size: 1rem;
    color: #7f8c8d;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

textarea {
    min-height: 150px;
    resize: vertical;
}

button {
    background-color: #34495e;
    color: white;
    padding: 14px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    width: 100%;
}

button:hover {
    background: #2c3e50;
    transform: scale(1.025);
}

button:focus {
    outline: none;
}

input,
textarea,
button {
    margin-bottom: 20px;
}

.alert {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}
