.banner-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.banner-container img {
    height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
}


.post-content {
    margin: 20px;
    font-size: 16px;
    line-height: 1.6;
    text-align: left;    
}


p {
    border-bottom: 2px solid #2c3e50;
}

h1 {
    border-top: 2px solid #2c3e50;
}