* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

html,
body {
    background-color: #ecf0f1;
    color: #2c3e50;
    line-height: 1.6;
    font-size: 16px;
    max-height: 800px;
}

body {
    margin-top: 128px;
}

main {
    max-width: 800px;
    background: white;
    margin: 32px auto;
    padding: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    text-align: center;
}
