.search_bar {
    width: 80%;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #3498db;
    padding: 5px;
    transition: background 0.3s ease-in-out;
}

.search_bar:hover {
    background-color: #ecf0f1;
}
