<!DOCTYPE html>
<html>
<head>
    <title>Savory Stories | Forgot Password</title>
    <%- include('partials/global-head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <script src="../js/forgot-password.js" defer></script>
</head>
<body>
    <header>
        <h1>Reset your password</h1>
    </header>
    <main>
        <form method="post" action="/forgot-password">
            <input type="email" id="email_input" name="email_input" placeholder="Email" required>

            <% if (message) { %>
                <div class="error-message">
                    <%= message %>
                </div>
            <% } %>
            
            <button type="submit">Send email confirmation</button>
            <p><a href="/">Back to login</a></p>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </main>
    
</body>
</html>