<!DOCTYPE html>
<html>
<head>
    <title>Savory Stories | Reset Password</title>
    <%- include('partials/global-head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <script src="../js/reset-password.js" defer></script>
</head>
<body>
    <header>
        <h1>Reset your password</h1>
    </header>
    <main>
        <form method="post" action="/reset-password">
            <input type="hidden" name="token" value="<%= token %>">
            <input type="password" id="p1_input" name="p1_input" placeholder="Password" required>
            <input type="password" id="p2_input" name="p2_input" placeholder="Confirm Password" required>

            <% if (message) { %>
                <div class="error-message">
                    <%= message %>
                </div>
            <% } %>
            
            <button type="submit">Set new password</button>
            <p><a href="/">Login</a></p>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </main>
    
</body>
</html>