<section id="search-section">
    <h2>Search</h2>
    <i class="fa fa-search" aria-hidden="true"></i>
    <input class="search_bar" id="search" name="search" type="text" placeholder="Search your posts...">
</section>